<div class="container header-navigation">
	<div class="row">
		<a class="span2 header-logo" href="{{ url('homepage') }}"></a>
		<div class="span1 offset3">
               <ul class="top-buttons">
                   <li>
                       <a href="#" class="write" data-controls-modal="write-modal" data-backdrop="true"></a>
                   </li>
               </ul>
		</div>
	</div>
</div>
