	<div class="container span9 header-navigation">
		<div class="row">
			<div class="span3 header-logo">
				<a href="{{ url('homepage') }}"><!-- <img src="http://avtoyamba.com/images/logo.png" /> --></a>
			</div>
			<div class="span4 header-actions">
				<a class="btn success" data-controls-modal="write-modal" data-backdrop="true">✎</a>
			</div>
		</div>
	</div>