	<div class="container span8 header-navigation">
		<div class="row">
			<a class="header-logo" href="{{ url('homepage') }}"></a>
			<div class="span4 header-actions">
				<a class="btn success" data-controls-modal="write-modal" data-backdrop="true">✎</a>
			</div>
		</div>
	</div>