Привет от АвтоЯмбы!

Про номер "[% number %]" [% message.author %] написал новое сообщение:

"[% message.text %] "

Заходите чтобы прочитать:
http://avtoyamba.com/number/[% number %]

Чтобы отписаться от этого щелкай:
http://avtoyamba.com/unsubscribe/[% number %]/[% code %]

Чмоке!
