Привет от АвтоЯмбы!

Про номер "[% number %]" [% message.author %] написал новое сообщение:

"[% message.text %] "

Заходите чтобы прочитать:
http://193.169.33.196/avto/app_dev.php/number/[% number %]

Чмоке!
