<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

		{% stylesheets filter="compass"
			'@AYGeneralBundle/Resources/public/scss/*' 
		%}
        <link rel="stylesheet" href="{{asset_url}}">
		{% endstylesheets %}

		{% javascripts 
			'@AYGeneralBundle/Resources/public/js/jquery.min.js'
			
			'@AYGeneralBundle/Resources/public/js/fancybox/*'

			'@AYGeneralBundle/Resources/public/js/bootstrap/bootstrap-twipsy.js'
			'@AYGeneralBundle/Resources/public/js/*'
			'@AYGeneralBundle/Resources/public/js/bootstrap/*'
		%}
		<script type="text/javascript" src="{{asset_url}}"></script>
		{% endjavascripts %}
				
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

		{% include 'AYGeneralBundle:Layout:HeaderNavigation.html.twig' %}

		{% block body %}{% endblock %}

		{% block javascripts %}{% endblock %}

		<script>
		    $(function () {
		        $("a[rel=twipsy]").twipsy({
		            live: true
		        })
		    })

		    $(function () {
		        $("a[rel=popover]")
		            .popover({
		                offset: 10
		            })
		            .click(function(e) {
		                e.preventDefault()
		            })
		    })

			$.predefine('.predefined-text-control');
		</script>
		
		{% include 'AYGeneralBundle:Modal:WriteModal.html.twig' %}
		{% include 'AYGeneralBundle:Modal:PreviewModal.html.twig' %}
    </body>
</html>
