<div id="pic-preview-modal" class="modal hide fade media-preview-modal">
    <div class="modal-body">
		контент окна
    </div>
</div>
<script type="text/javascript"> 
$('[data-media-preview]').fancybox({
	centerOnScroll: true,
	showCloseButton: true
});
$('body').delegate('#fancybox-img', 'click', function(e){
	this.src && (window.open(this.src));
});
</script> 
