html, body {
    background-color: #eee;
}

body {
    padding-top: 20px; /* to make the container go all the way to the bottom of the topbar */
}

.container {

}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}


.content-block {
	background-color: #fff;
	padding: 20px;
}

.content-block-no-padding {
	padding: 20px 0;
}

.separated-block {
	border-bottom: 1px solid #EEE;
	margin: 10px inherit;
}



.content {
    background-color: #fff;

/*    margin: 40px -20px; /* negative indent the amount of the padding to maintain the grid system */*/
	margin: 20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.top-fill {
    background-color: #999;
    background-color: #999999;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));


    background-color: #333;
    background-color: #333333;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#555555), to(#333333));
    background-image: -moz-linear-gradient(top, #555555, #333333);
    background-image: -ms-linear-gradient(top, #555555, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #555555, #333333);
    background-image: -o-linear-gradient(top, #555555, #333333);
    background-image: linear-gradient(top, #555555, #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.car-number, .car-number-region, .car-number-num, .car-number-reg, .car-number-chr {
	display: inline-block;
}

.car-number {
}

.car-number-25 {
    padding-left: 8px;
	width: 108px;
	height: 25px;
	background: url('http://avtoyamba.com/images/115x25_sprite.png') 0 25px;
}

.car-number-25 .car-number-region {
    margin-left: 8px;
    overflow: hidden;
    float: left;
}

.car-number-25 .car-number-num {
    float: left;
    position: relative;
    top: 3px;
}

.car-number-25 .car-number-chr {
    top: 8px;
}

.car-number-25 .car-number-reg {
    float: left;
    position: relative;
    top: 2px;
}

.car-number-50 {
    padding-left: 17px;
	width: 208px;
	height: 50px;
	background: url('http://avtoyamba.com/images/225x50_sprite.png') 0 50px;
}

.car-number-50 .car-number-region {
    margin: 2px 0 0 13px;
    overflow: hidden;
    float: left;
}

.car-number-50 .car-number-num {
    float: left;
    position: relative;
    top: 3px;
}

.car-number-50 .car-number-chr {
    top: 8px;
}

.car-number-50 .car-number-reg {
    float: left;
    position: relative;
    top: 2px;
}

.b-car-number {
	background: url("/images/225x50_sprite.png") no-repeat left bottom;
	width: 225px;
	height: 50px;
	position: relative;
}

.b-car-number input[type=text] {
	border: 0 !important;
	border-radius: 0;
	box-shadow: initial;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;	
	background: none;
}

.b-car-number input[type=text]:focus {
	border: 0 !important;
	text-align: center;
}
	
.b-car-number, .b-car-number * {
	font-family: "Conv_RoadNumbers", Sans-Serif;
	color: black;
	font-size: 38px;	
}

.b-car-number .c-car-number {
	padding: 12px 27px;
}

.b-car-number .car-number {
	width: 130px;
	display: block;
}

.b-car-number .car-number input[type=text] {
	letter-spacing: 5px;
}

.b-car-number .car-region {

	position: absolute;
	right: 13px;
	top: 7px;
	line-height: 19px;
	width: 40px;
}

.b-car-number .car-region input[type=text] {
	font-size: 0.7em;	
	letter-spacing: 1px;
}

.hr-norm {
    margin: 20px 0 0 19px
}

.message {
    display: block;
    overflow: hidden; 
    border-bottom: 1px solid #e0e0e0; 
    padding: 10px 0 10px 0;
}

.message:hover {
    background: #f0f0f0; 
}

.message .user-info {
	
}

.stream-item-container h2 {
	padding: 0 20px;
}

.stream-item {
	border-bottom: 1px solid #EEE;
	padding: 5px 20px 5px;
	margin: 0 0 5px 0;
	clear: both;
	overflow: hidden;
}
	.stream-item-header {
		clear: both;
		margin-bottom: 10px;
		position: relative;
		line-height: 25px;
	}
	
		.stream-item-header .stream-item-author {
			font-size: 15px;
		}

		.stream-item-header .stream-item-time {
/*			position: absolute;
			right: 0;
			top: 3px;
*/			
			float: right;
			color: #999;
			font-size: 12px;
			line-height: 25px;
		}
		
		.stream-item-header .car-number {
			position: relative;
			margin-bottom: -8px;
		}
		
	.stream-item-text {
		font-size: 15px;
	}	
	
	.stream-item-media {
/*		float: right;*/
/*		height: 70px;*/
		text-align: center;
	}
	
	.stream-item-media .media-grid {
		display: inline-block;
	}
	