{% extends '::base.html.twig' %}

{% block body %}

<div class="container span8"> 
    <!-- <div class="span7 content">
        <div class="row">
            <div class="span7">
                <h2>Что это такое?</h2>
                <p style="height: 100px">
                    АвтоЩито? АвтоЯмба! Это сервис с помощью которого можно БЕЗ регистрации анонимно отправлять сообщения на номера автомобилей!
                    <br /><br />
                    Вы можете читать, что вам пишут другие автомобилисты по СМС или по емейлу. Пыщ пыщ!
                    <br /><br />
                </p>
				<h2>
					Узнай, что о тебе думают другие!
				</h2>
				<p>
				
												
				</p>	
                <a class="btn success" data-controls-modal="write-modal" data-backdrop="true">Написать сообщение!</a>
                <a class="btn primary" id="search-number">Найти сообщения по номеру</a>
            </div>
            <div class="span5">
            </div>
</div> -->
			<div class="content-block separated-block">
				{% include 'AYGeneralBundle:Default:CarNumber.html.twig' %}
			</div>
			<div class="content-block content-block-no-padding separated-block">	
				{% include 'AYGeneralBundle:Stream:StreamItemsList.html.twig' with { 'messages' : messages, 'heading' : 'Последние записи:', 'show_all' : true } %}
			</div>
</div>

</div> <!-- /container -->

<script>
    $('#go-number').twipsy({'placement' : 'below', 'offset' : 12 })

    $('#search-number').click(function() {
        $('#go-number').twipsy('show');
    });

    $('div.message').each(function(index) {
        $(this).hover(
            function() {
                var el = $(this).find('.menu_small');
                el.css('display', 'block');
            },
            function() {
                var el = $(this).find('.menu_small');
                el.css('display', 'none');
            }
        );
    });
</script>

{% endblock %}
