{% extends '::base.html.twig' %}

{% block body %}

{% if app.session.hasFlash('notice') %}
    <div style='color: green; border: 1px solid green; width: 40%'>
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

<div class="container content-container"> 


			<div class="content-block">
		        <div id="ss-success" class="alert-message success hide">
		            <a class="close" href="#">&times;</a>
		            <p><b>Ура!</b> Подписка успешно сохранена!</p>
		        </div>

		        <div id="unss-phone-success" class="alert-message success hide">
		            <a class="close" href="#">&times;</a>
		            <p>Подписка успешно отменена!</p>
		        </div>

		        {% if app.session.hasFlash('unsubscribe_message') %}

		            {% if app.session.flash('unsubscribe_message') == 'done' %}
		                <div id="unss-success" class="alert-message success">
		                    <a class="close" href="#">&times;</a>
		                    <p><b>Успех!</b> Подписка удалена!</p>
		                </div>
		            {% else %}
		                <div id="unss-success" class="alert-message error">
		                    <a class="close" href="#">&times;</a>
		                    <p><b>Пичалька!</b> Такой подписки нет!</p>
		                </div>
		            {% endif %}

		            <script>
		                $("#unss-success").alert();
		            </script>
		        {% endif %}
				</div>
	            <div class="separated-block content-block">
	                {% if number %}
	                    <div class="row car-number-details">
	                        <div class="span4">
	                        </div>
	                        <ul class="span3 car-number-stream-info">
	                            {% if messages %}
	                                <li class="car-number-stream-info-item">
	                                    {{ messages|length }} 
	                                    {% transchoice messages|length %}
	                                        {1} упоминание | [2,4] упоминания | [5,Inf] упоминаний
	                                    {% endtranschoice %}
	                                </li>
	                                <li class="car-number-stream-info-item">
	                                    {% set messagesWithPic = 0 %}
	                                    {% for message in messages %}
	                                        {% if message.getImageThumb() %}
	                                            {% set messagesWithPic = messagesWithPic + 1 %}
	                                        {% endif %}
	                                    {% endfor %}
	                                    {{ messagesWithPic }} фото
	                                </li>
	                                <li class="car-number-stream-info-item">
	                                    <a class="btn primary subscribe-button" data-controls-modal="subscribe-modal" data-backdrop="true">Подписка</a>
	                                </li>
	                            {% endif %}
	                        </ul>
	                    </div>
	                {% endif %}
	            </div>

			<div class="content-block content-block-no-padding">
				{% include 'AYGeneralBundle:Stream:StreamItemsList.html.twig' with { 'messages' : messages, 'heading' : 'Последние записи:' } %}
	        </div>


</div>

{% include 'AYGeneralBundle:Modal:SubscribeModal.html.twig' %}

{% endblock %}
