<div class="car-number-check-self" id="car-number-main-input">
	<div class="car-number car-number-template car-number-big car-number-control" style="margin-left: 75px; margin-right: 0px;">
		<form action="/search_number" id="car-number-control-form">
			<label class="car-number-control-code" style="width: 120px; margin: 0px;">
				<input type="text" maxlength="6" data-type="code" class="predefined-text-control predefined-text car-number-style-ru" value="A001AA" data-predefined-text="х000хх" style="width: 100px; text-align: center; " />
				<small style="position: relative; left: 1px;">
					номер
				</small>
			</label>
			<label class="car-number-control-region" style="width: 80px; margin: 0px;">
				<input type="text" maxlength="3" data-type="region" class="predefined-text-control predefined-text car-number-style-ru" value="190" data-predefined-text="001" style="width: 60px; text-align: center">	
				<small style="position: relative; left: 1px;">
					регион
				</small>
			</label>
		</form>
	</div>

	<div href="#" class="btn success" style='position: relative; top: -21px; left: 1px;'>Найти!</div>
</div>

<script type="text/javascript" charset="utf-8">
	$.predefine('.predefined-text-control');
</script>
