{% if submit is not defined %}
	{% set submit = false %}
{% endif %}


<div class="clearfix car-number car-number-template car-number-big car-number-control">
	<form action="{{ path('search_number') }}" id="car-number-control-form">
		<label class="control-group car-number-control-code">
			<input name="code" type="text" maxlength="6" data-type="code" class="predefined-text-control predefined-text car-number-style-ru" data-predefined-text="A001AA" />
			<small class="help-inline">
				номер
			</small>
		</label>
		<label class="control-group car-number-control-region">
			<input name="region" type="text" maxlength="3" data-type="region" class="predefined-text-control predefined-text car-number-style-ru" data-predefined-text="190" />	
			<small class="help-inline">
				регион
			</small>
		</label>
		{% if submit %}
		<input type="submit" href="#" class="btn success car-number-control-submit" value="Найти!" />
		{% endif %}
	</form>
</div>
