<div class="car-number-check-self" id="car-number-main-input">
	<div class="car-number car-number-template car-number-big car-number-control">
		<form action="/search_number" id="car-number-control-form">
			<label class="car-number-control-code">
				<input type="text" maxlength="6" data-type="code" class="predefined-text-control predefined-text car-number-style-ru" value="х000хх" data-predefined-text="х000хх" />
				<small>
					номер
				</small>
			</label>
			<label class="car-number-control-region">
				<input type="text" maxlength="3" data-type="region" class="predefined-text-control predefined-text car-number-style-ru" value="001" data-predefined-text="001">	
				<small>
					регион
				</small>
			</label>
		</form>
	</div>

	<div href="#" class="btn success" style='position: relative; top: -22px; left: 5px;'>Найти!</div>
</div>

<script type="text/javascript" charset="utf-8">
	$.predefine('.predefined-text-control');
</script>